* {
    padding: 0;
    margin: 0;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: darkcyan;
}


canvas {
    position: absolute;
    border: 5px double silver;
    border: 8px double blue;
    
}

canvas#background {
    /* background-color: red;
    opacity: 1; */
}

canvas#foreground {
    /* background-color: blue;
    opacity: 0.4; */
}

body {
    overflow: hidden;
}

canvas #background {
    z-index: 10;
}

canvas #foreground {
    z-index: 20;
}